.container-principal {
    padding: 24px;
    background-color: #f4f6f8;
    font-family: 'Roboto', sans-serif;
  }
  
  .titulo-secao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #1e88e5;
    font-weight: bold;
    margin-bottom: 32px;
    padding: 25px;
  }
  
 